@keyframes slideIn {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    transform: translateX(-100%);
    opacity: 0;
  }
}

.animate-slideIn {
  animation: slideIn 15s linear forwards;
}